.tela-inicial-mapa-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.tela-inicial-mapa-tela-inicial-mapa {
  gap: 10px;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}

.tela-inicial-mapa-mapa-imagem {
  top: 224px;
  left: 1.1368683772161603e-13px;
  width: 1440px;
  height: 800px;
  position: absolute;
}

.tela-inicial-mapa-cidade2cone {
  top: 425px;
  left: 1118px;
  width: 212px;
  height: 177px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.tela-inicial-mapa-text {
  top: 124px;
  color: rgba(255, 255, 255, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Island Moments;
  font-weight: 400;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}

.tela-inicial-mapa-cidade2cone-imagem {
  top: 0px;
  left: 44px;
  width: 124px;
  height: 124px;
  position: absolute;
}

.tela-inicial-mapa-cidade1cone {
  top: 678px;
  left: 97px;
  width: 212px;
  height: 177px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.tela-inicial-mapa-text2 {
  top: 124px;
  color: rgba(255, 255, 255, 1);
  width: 212px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Island Moments;
  font-weight: 400;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}

.tela-inicial-mapa-cidade1cone-imagem{
  top: 0px;
  left: 44px;
  width: 124px;
  height: 124px;
  position: absolute;
}

.tela-inicial-mapa-ttulo {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 224px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(83, 80, 4, 1);
}

.tela-inicial-mapa-retngulointerno {
  top: 20px;
  left: 20px;
  width: 1400px;
  height: 184px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 31px;
}

.tela-inicial-mapa-text4 {
  top: 65px;
  left: 96px;
  color: rgba(255, 255, 255, 1);
  width: 1249px;
  height: auto;
  position: absolute;
  font-size: 92px;
  font-style: Regular;
  text-align: center;
  font-family: Island Moments;
  font-weight: 400;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
